body {
  margin: 50px;
  background-color: #4D4D4D;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  color: red
}

h2 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Press Start 2P', cursive;
  color: #white
}

img:hover{
  filter: invert();
}

a:visited {
  color: white
}
a:hover {
  color: red
}

#intro {
  text-align: center;
  table-layout: auto;
  font-size: 24px;
  color: white
}

#music {
  text-align: center;
  table-layout: auto;
  font-size: 24px;
  color: white
}
h4 {
  color: red;
}
#projects {
  text-align: center;
  table-layout: auto;
  font-size: 24px;
  color: white
}
#software {
  text-align: center;
  table-layout: auto;
  font-size: 24px;
  color: white
}
#ccas {
  text-align: center;
  font-size: 24px;
  color: white
}
