body {
  background: #404040;
}
p {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Oswald', sans-serif;
}

#stickyOne {
  background: red;
  height: 50px;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
#stickyOne p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

#circle {
  background: white;
  width: 300px;
  height: 300px;
  opacity: 0.5;
  left: 50%;
  right: 50%;
  position: relative;
  border-radius: 150px;
}
#square {
  background: red;
  width: 50%;
  height: 50%;
  opacity: 0.5;
  position: relative;
  left: 50%;
  z-index: 500
}

section.mainText p{
  font-size: 24px;
  font-weight: 300;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
}

#source {
  background: red;
  height: 120px;
  width: 98%;
  bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  z-index: 900;
}

#source p {
  font-family: 'Noto Serif', serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  text-align: left;
  margin-bottom: 20px;
}
#source a {
  font-weight: 300;
  font-size: 20px;
  color: white;
}
#source a:visited {
  color: lightgray;
}
#source a:hover {
  color: red;
}

footer {
  color: red;
}
