body {
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  z-index: 0;
}
#overlay img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/static.gif");
  opacity: 0;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 2000;
}
#light {
  position: absolute;
  left: 110%;
  bottom: 50%;
  transform: scale(200%);
}
#light button {
  opacity: 0.5;
}
#leftBox {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  width: 200px;
  height: 720px;
  position: fixed;
  left: 10px;
  z-index: 2;
}
#leftBox img{
  z-index: 2;
}
#rightBox {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  width: 200px;
  height: 720px;
  position: fixed;
  right: 10px;
  z-index: 2;
}
#rightBox img{
  z-index: 2;
}
