body {
  background-color: grey;
  background-image: url(img/bg.jpg);
  background-size: cover;
}
.header {
  background-color: red;
  opacity: 0.75;
}
.header h1 {
  color: white;
  text-align: center;
  font-size: 48px;
}

.flexContainerPlaces {
  background-color: red;
  opacity: 0.75;
  width: 90vw;
  display: flex;
  position: relative;
  left: 50vw;
  right: 50vw;
  margin-left: -512px;
}
.cell {
  width: 2000px;
  height: 130px;
  margin: 10px;
  transition: all 500ms ease;
}
.cell:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}
.cell img {
  width: 100%;
  height: 100%;
  opacity: 1
}
.cell a {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 24px;
}
.cell a:hover {
  color: grey;
  text-align: center;
}

/*MOBILE*/
@media screen and (max-width:600px) {
  body {
    background-color: grey;
  }
  .flexContainerPlaces {
    display: block;
    margin-left: 0;
    left: 0;
    width: 98%;
  }
  .cell {
    width: 90%;
    margin-left: 5%;
  }
  .cell p {
    opacity: 0;
  }
}
