body {
  background-color: #5b5b5b;
}

.topNav {
  background-color: red;
  opacity: 0.75;
  display: flex;

  margin: 10px;
}
.topNav h2 {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.header {
  text-align: center;
  color: white;
}
.header h3 {
  font-size: 24px;
}
.header h1 {
  font-size: 48px;
}
/* flexContainer */
#flexContainer {
  background-color: red;
  opacity: 0.75;
  width: 1024px;
  display: flex;
  position: relative;
  left: 50%;
  margin-left: -512px;
}

.left {
  width: 45%;
}
.left img {
  width: 100%;
  opacity: 1;
}
.left img:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}
.right {
  width: 50%;
  background-color: grey;
  margin-left: 50px;
}
.right p {
  color: white;
}
section.backButton {
  width: 200px;
  height: 50px;
  background-color: grey;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  bottom: 25px;
  transition: all 500ms ease;

}
section.backButton p {
  text-align: center;
  letter-spacing: 15px;
  opacity: 0.75;
}
section.backButton:hover {
  background-color: #5b5b5b;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 500ms ease;
}

/*MOBILE*/
@media screen and (max-width:600px) {
  body {
    background-color: #5b5b5b;
  }
  #flexContainer {
    display: block;
    margin-left: 0;
    left: 0;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 90%;
    margin-left: 5%;
  }
}
