body {
  background-color: #5b5b5b;
}

/*fonts
font-family: 'IBM Plex Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Tourney', cursive;
*/
 h1 {
   font-family: 'IBM Plex Mono', monospace;
   font-size: 36px;
   position: absolute;
   top: 30px;
   left: 100px;
   color: white;
 }

.footer {
  background-color: red;
  position: absolute;
  top: 87%;
}
.threeDcanvas {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: -1000;
}
.buttons {
  background: red;
  color: white;
  width: auto;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 24px;
  position: relative;
  transition: all 0.5s;
}
.buttons:hover {
  background: pink;
  color: black;
  width: auto;
  height: 50px;
  font-family: 'Tourney', cursive;
  text-align: center;
  position: relative;
  transition: all 0.5s;
}
.buttonsContainer {
  position: absolute;
}
